<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/axios.js"></script>
        <style>
            #box {
                width: 100px;
                height: 100px;
                color: darkgray
            }
            .red{
                background-color: red;
            }
            .blue{
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="num">
            <button @click="add()">累加</button>
            <button @click="decrement">累减</button>
            <h1>{{name}}</h1>
            <h1>{{num}}</h1>
            v-text:<span v-text="hello"></span><br>
            v-html:<span v-html="hello"></span>
            <input type="checkbox" v-model="language" value="英语">
            <input type="checkbox" v-model="language" value="法语">
            <input type="checkbox" v-model="language" value="德语">
            <span>{{language.join(',')}}</span><br>
            =============================<br>
            <ul>
                <li v-for="user,index in users" v-if="user.gender == '女'" style="background-color: hotpink">
                    {{index+1}}
                    {{user.name}}
                    {{user.gender}}
                    {{user.age}}
                </li>
                <li v-else style="background-color: palegreen">
                    {{index+1}}
                    {{user.name}}
                    {{user.gender}}
                    {{user.age}}
                </li>
            </ul>
            <ul>
                <li v-for="(value,key,index) in user">
                    {{value}}--{{key}}--{{index}}
                </li>
            </ul><br>
            <button @click="show = !show">切换</button>
            <span v-if="show">
                show为true
            </span><br>
            <div v-if="type == 'A'">A</div>
            <div v-else-if="type == 'B'">B</div>
            <div v-else-if="type == 'C'">C</div>
            <div v-else>其他</div>

            <button @click="boo = !boo">切换</button>
            <div :class="{red: boo ,blue: !boo}">111</div>
            <button @click="user.age++">增加年龄</button>
            ================<br>
            <counter></counter>
            <counter></counter>
            <counter></counter>
            <counter></counter>
        </div>
    </body>
    <script>
        Vue.component("counter", {
            template:'<button v-on:click="count++">你点了我 {{ count }} 次，我记住了.</button>',
            data() {
                return {
                    count: 0
                }
            }
        });
        var app = new Vue({
            el:"#app",
            data:{
                name: "哈哈",
                num: 100,
                hello: "<h1>课改后的就业薪资明显上升,不要太腼腆</h1>",
                language:[],
                users:[],
                user:{name:'柳岩', gender:'女', age: 21},
                show: true,
                type: "C",
                color: "red",
                boo: true
            },
            methods:{
                add() {
                    this.num++;
                },
                decrement:function () {
                    this.num--;
                }
            },
            watch:{
                boo(newValue,oldValue) {
                    console.log(newValue + "----" + oldValue);
                },
                user:{
                    deep: true,
                    handler(value) {
                        console.log(value.name + "----" +value.age)
                    }
                }
            },
            created() {
                this.num = 99;
                console.log("vue初始化完成");
                axios.get("data.json").then(function (response) {
                    app.users = response.data;
                    console.log(response.data);
                })
            },
            mounted() {
                console.log("页面加载完成");
            }
        });
    </script>
</html>